{% extends "layouts/base.html" %}
{% block content %}
{% set recapPath = page.filePathStem | replace('/index', '') %}
<article class="page-content">
    <h1>{{ title }}</h1>
    <ul class="page-without-title">
    {%- for post in collections.all %}
    {%- if post.filePathStem.startsWith(recapPath) and post.fileSlug != 'index' and post.data.title != 'Session Recaps' %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {%- endif %}
    {%- endfor %}
    </ul>
</article>
{% endblock %}
